#services {
  background-image: url("../../../images/footerBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#services h5 {
  color: #10bad4;
  font-weight: 500;
}

#services h3 {
  color: #404655;
  font-weight: 600;
  margin-top: 1rem;
  position: relative;
}

#services h3::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 6rem;
  height: 3px;
  background: rgba(16, 186, 212, 0.5);
  border-radius: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#services > div {
  width: 70%;
}

@media (max-width: 768px) {
  #services > div {
    width: 100%;
  }
  #services h5 {
    font-weight: 600;
  }
  #services h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
