.team-container {
  background-image: url("../../../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 5rem;
}

.team-container h3 {
  color: #404655;
  font-weight: 600;
}

.team-member {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  background-size: cover;
}
